@charset "utf-8";

/* Layout */
#wrap {}
#header {width: 100%; height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}
#contents {width: 100%; height: 800px;}
#footer {width: 200px; height: 200px; background: #555;}

/* Container */
.container {width: 990px; height: inherit; margin: 0 auto;}

/* header */
.header {}
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}

/* hedaer-tit */
.header .header-tit {text-align: center;}
.header .header-tit h2 {color: #fff; font-size: 30px; background: #4aa8d4; display: inline-block;
    padding: 5px 20px 6px 20px; margin-top : 40px; font-weight: normal; text-transform: uppercase;}
.header .header-tit a {color: #fff; font-size: 18px; background: #2698cb; display: inline-block;
    padding: 5px 20px 6px 20px; margin-top: -5px;}

/* header-icon */
.header .header-icon {text-align: center; margin-top: 30px;}
.header .header-icon a {background: url(../img/icon.png); width: 60px; height: 60px; display: inline-block;}
.header .header-icon a.icon1 {background-position: 0px 0px;}
.header .header-icon a.icon2 {background-position: 0px -60px;}
.header .header-icon a.icon3 {background-position: 0px -120px;}
.header .header-icon a.icon4 {background-position: 0px -180px;}
.header .header-icon a:hover.icon1 {background-position: -60px 0px;}
.header .header-icon a:hover.icon2 {background-position: -60px -60px;}
.header .header-icon a:hover.icon3 {background-position: -60px -120px;}
.header .header-icon a:hover.icon4 {background-position: -60px -180px;}

/* nav */
.nav {overflow: hidden;}
.nav > div {float: left; width: 40%;}
.nav > div.last {width: 20%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* tit */
.tit {position: relative; text-align: center}
.tit h2 {font-size: 40px; color:#2c94c4; letter-spacing: 2px; padding: 5px 0; 
    font-family: 'Nanum Brush Script', cursive;}
.tit .btn {display: block; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; 
        position: absolute; right: 0; top: 5px;}
