@charset "utf-8";

/* Layout */
#wrap {}
#header {width: 100%; height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}
#contents {width: 100%; height: 800px;}
#cont_nav {background-color: #f6fdff; display: ;}
#cont_tit {background-color: #EAF7FD;}
#footer {width: 200px; height: 200px; background: #555;}

/* Container */
.container {width: 990px; height: inherit; margin: 0 auto;}

/* header */
.header {}
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}

/* hedaer-tit */
.header .header-tit {text-align: center;}
.header .header-tit h2 {color: #fff; font-size: 30px; background: #4aa8d4; display: inline-block;
    padding: 5px 20px 6px 20px; margin-top : 40px; font-weight: normal; text-transform: uppercase;}
.header .header-tit a {color: #fff; font-size: 18px; background: #2698cb; display: inline-block;
    padding: 5px 20px 6px 20px; margin-top: -5px;}

/* header-icon */
.header .header-icon {text-align: center; margin-top: 30px;}
.header .header-icon a {background: url(../img/icon.png); width: 60px; height: 60px; display: inline-block;}
.header .header-icon a.icon1 {background-position: 0px 0px;}
.header .header-icon a.icon2 {background-position: 0px -60px;}
.header .header-icon a.icon3 {background-position: 0px -120px;}
.header .header-icon a.icon4 {background-position: 0px -180px;}
.header .header-icon a:hover.icon1 {background-position: -60px 0px;}
.header .header-icon a:hover.icon2 {background-position: -60px -60px;}
.header .header-icon a:hover.icon3 {background-position: -60px -120px;}
.header .header-icon a:hover.icon4 {background-position: -60px -180px;}

/* nav */
.nav {overflow: hidden; padding: 20px 0;}
.nav > div {float: left; width: 40%;} 
.nav > div:last-child {width: 20%;} /* ie9부터 사용가능 */
.nav > div.last {width: 20%;}
.nav > div h3 {font-size: 18px; color:#25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden; }
.nav > div ol li {float: left; width: 50%; padding-bottom: 2px; }
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* tit */
.tit {position: relative; text-align: center}
.tit h2 {font-size: 40px; color:#2c94c4; letter-spacing: 2px; padding: 5px 0; 
    font-family: 'Nanum Brush Script', cursive;}
.tit .btn {display: block; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; 
    position: absolute; right: 0; top: 5px;}

/* ban */
.ban {position: relative; padding: 24px 0px 20px;}
.ban a.prev {width: 43px; height: 43px; position: absolute; left: -60px; top: 60px;
    background: url(../img/icon.png) no-repeat -150px 0px;}
.ban a.next {width: 43px; height: 43px; position: absolute; right: -60px; top: 60px;
    background: url(../img/icon.png) no-repeat -150px -43px;}
.ban a.prev:hover {background-position: -193px 0px;}
.ban a.next:hover {background-position: -193px -43px;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px;}
.ban ul li:last-child {text-align: right;}
.ban ul li:nth-child(2) {text-align: center;}
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}

/* cont */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {position: relative; float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}
.cont .col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display: block; width: 60px; height: 60px; 
    background: url(../img/icon.png); position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; 
    padding-bottom: 15px; margin-bottom: 15px;}

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}
